@font-face {
	font-family: 'roboto_mono';
	src: url('includes/fonts/robotomono-regular-webfont.woff2') format('woff2'),
	url('includes/fonts/robotomono-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_mono';
	src: url('includes/fonts/robotomono-light-webfont.woff2') format('woff2'),
	url('includes/fonts/robotomono-light-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
#p5-code::selection {
	background:#fff;
}
html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'roboto_mono', 'Monaco', monospace;
	font-weight: 200;
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	color: #839496;
	/*background: #000;*/
	position: relative;
	background:#000;
}
hr{
	width:80%;
	border:0px;
	border-bottom:1px solid #888;
	outline:none;
}
#loader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10000;
	font-size:30pt;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loader-msg{
	position:absolute;
	z-index:10001;
	color:#fff;
	text-align:center;
}
#loader-bg{
	position:absolute;
	background:#000;
	opacity:.85;
	width:100%;
	height:100%;
	z-index:10000;
}
.lds-dual-ring {
	position:absolute;
	z-index:10001;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 200px;
	height: 200px;
	margin: 1px;
	border-radius: 50%;
	border: 3px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#p5-frame, #p5-frame-cover{
	outline:none;
	border:none;
	margin:0;
	/*background:#000;*/
	background:none;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:-1;
}
#p5-frame-cover{
	background:none;
	z-index:0;
	cursor:none;
}

/* EDITOR */
.p5-ta, #p5-editor{
	font-family: 'roboto_mono', monospace;
	font-weight: 400;
	position:fixed;
	z-index:1;
	font-size:20pt;
	width:100vw;
	background: none;
	outline:none;
	border:none;
	border-bottom:1px dashed #000;
	box-sizing: border-box;
	color:#fff;
	margin: 0;
	will-change: opacity;
}
.p5-ta{
	padding: 15px;
}
#p5-editor{
	top:0;
	height:100vh;
	visibility:visible;
}
#p5-code {
	top:0vh;
	height:calc(100vh - 45px);	
	border:none;
}
#p5-console{
	height:auto;
	min-height:10px;
	bottom:0;
	font-size:9pt;
	padding:5px 5px 5px 10px;
	resize:none;
	pointer-events: none;
	background:none;
	border:none;
}
.myMarker {
	position:fixed;
	background:rgba(200,0,0,0.25);
	z-index:20
}
.ace_marker-layer{
	z-index:9999!important;
}
.ace-gob .ace_cursor{
	background:none;
	border-width:3px;
}
#editor, #p5-code, .ace_scroller{
	cursor:cell !important;
}

/* MENU */
#menu, #menu-sketch-new{
	font-size:10pt;
}
#menu{
	position:fixed;
	top:0;
	right:0;
	margin-right:-250px;
	height:100vh;
	width:250px;
	color:#fff;
	z-index:101;
	transition: margin-right .5s ease;
}
#menu-switch{
	position:absolute;
	font-size:50px;
	top:0;
	left:-30px;
	height:100%;
	cursor:pointer;
	color:#fff;
	opacity:.2;
	transition: opacity .5s linear;
	z-index:1000;
	background:#222;
}
#menu-switch:hover{
	opacity:.5;
}
.menu-switch{
	opacity:.5;
}
#menu-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#222;
	z-index:-1;
	opacity: .5;
}
#menu-sections{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	box-sizing: border-box;
	padding:15px;
	overflow-y:auto;
}
.menu-section{
	position:relative;
	margin:0 0 25px 0;
	border:1px solid #888;
}
.menu-section-bg{
	position:absolute;
	width:100%;
	height:100%;
	background:#222;
	opacity:.75;
}
.menu-header{
	font-size:14pt;
	color:#fff;
	border-bottom:1px solid #888;
	background:#222;
	margin:0px 0 5px 0;
	padding-left:5px;
	padding-bottom:2px;
	font-weight:700;
	letter-spacing: 1px;
	opacity:.75;
}
.menu-contents{
	padding-left:5px;
	padding-bottom:5px;
}
.feather {
	stroke:#fff;
	height:24px;
}
.feather-small{
	height:16px;
}
.shortcut{
	margin-top:3px;
	padding:0 3px 0 3px;
	font-style:italic;
	background:#666;
	border:1px solid #acacac;
	border-radius:5px;
	color:#fff;
}
.menu-sketches-holder{
	color:#fff;
	height:30vh;
	overflow:hidden;
	overflow-y:auto;
	position:relative;
}
.menu-sketches-buttons{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding-left:0px;
	margin-bottom: 0px;
	margin-top:-5px;
	position:relative;
	width:100%;
	height:30px;

}
.menu-button{
	color:#fff;
	background:#666;
	margin:0px;
	padding:3px;
	border:0;
	border-right:1px solid #888;
	border-bottom:1px solid #888;
	outline:none;
	cursor:pointer;
	font-weight: 400;
	width:30px;
	height:30px;
	opacity:.75;
	flex: 1;
}
#p5live-buttons .menu-button{
	border-bottom:none;
}
.menu-button:last-child{
	border-right:none;
}
.menu-button:hover{
	color:#fff;
	opacity: 1;
	background:#444;
}
.menu-sketches{
	height:100%;
}
#menu-sketches-new{
	background:#222;
	position:relative;
}
#menu-sketch-new{
	outline:none;
	border:none;
	background:none;
	color:#fff;
	padding-top:4px;
	padding-left:5px;
	height:auto;
	margin:0;
	font-family: 'roboto_mono', 'Monaco', monospace;
	font-weight: 200;
	cursor:text;
}
#menu-sketches-new {
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}
#menu-sketches-new:hover{
	color:#fff;
	background:#444;
}
#menu-sketch-new-save{
	position:absolute;
	right:0;
	top:0;
	background:#666;
	opacity:.75;
	padding:0px 8px 0px 8px;
	display:none;
	height:25px;
	cursor:pointer;
	border:none;
	border-left:1px solid #888;
}
#menu-sketch-new-save:hover{
	opacity:.9;
	background:#444;

}
.menu-sketch-holder, .menu-sketch-new{
	margin:0px;
	padding:0;
	height:25px;
	cursor:pointer;
	opacity:.75;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	outline:0;
}
.menu-sketch-new{
	color:#fff;
}
#menu-sketches .menu-sketch-holder:hover{
	background:#666;
	opacity:.9;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}
.menu-sketch-holder#menu-sketches-new:hover{
	background:#fff;
}
.menu-sketch, .menu-folder{
	position: relative;
	height:100%;
	float:none;
	padding:2px 5px 5px 0;
	overflow: hidden;
	white-space: nowrap;
	cursor:pointer;
}
.menu-folder{
	text-transform: uppercase;
}
.menu-sketch:hover, .menu-folder:hover{
}
.marq:hover{
	animation: marquee 5s linear infinite;
}
@keyframes marquee {
	0%	 { text-indent: 0em }
	100% { text-indent: -20em }
}
.sketch-selected{
	color:#/*00FF00*/;
	background:#006600;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}
.sketch-selected .menu-sketch-nav, .menu-sketch-holder:hover .menu-sketch-nav{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.menu-sketch-nav{
	float:right;
	width:35%;
	min-width:75px;
	height:100%;
	display:none;
	z-index:101;
	text-align:right;
	cursor:pointer;
}
.menu-sketch-button{	
	color:#fff;
	flex:1;
	padding:2px 0 0px 0;
	border-left:1px solid #888;
	opacity:.75;
}
.menu-sketch-button:hover{
	background:#444;
	opacity:.9;
}
#menu-cocode-sketches .menu-sketch-button{
	border-left:none;
	outline:none;
}
#menu-cocode-sketches .menu-sketch-button:hover{
	background:none;
}
#menu-cocode-sketches .menu-sketch-nav{
	display:inline-block;
}
#menu-cocode-sketches .menu-sketch-holder:hover{
	opacity:1;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}
button:disabled,
button[disabled]{
	opacity:.25;
	pointer-events: none;
}

.self{
	background:#444;
}
.self:hover{
	background:#444;
}
.write-req, .write-req:hover{
	opacity:1;
	background:#888800;
	animation: request 2s linear infinite;
}
@keyframes request {
	0%	 { opacity: 1 }
	50%	 { opacity: .5 }
	100% { opacity: 1 }
}
.write-access{
	background:#008800 !important;
}
#menu-settings{
	position:relative;
	line-height:1.6em;
}
#menu-settings div{
	outline:none;
}
#menu-settings-theme{
	width:50%;
	margin-left:40px;
	font-size:8pt;
	border:1px solid #888;
	outline:none;
}
#menu-settings-bg{
	width:50px;
	text-transform: uppercase;
	outline:none;
	border:1px solid #888;
}
#menu-settings-fontsize{
	width:4em;
	font-size:10pt;
	text-align:center;
	color:#fff;
	border:none;
	outline:none;
	background:none;
	border-bottom:1px solid #888;
	font-family: 'roboto_mono', 'Monaco', monospace;
	font-weight: 200;
}
#settings-libs{
	outline:none;
	background:none;
	border:none;
	border-bottom:1px solid #444;
	color:#fff;
}
.tippy-tooltip{
	font-size:8pt;
	border:1px solid #fff;
}
.tippy-content, .tippy-tooltip{
	background:#fafafa;
	color:#000;
	font-weight:400;
}
.tippy-roundarrow{
	fill:#fafafa;
}
.item-folder{
	position:relative;
	height:auto;
	overflow:hidden;
	display:block;
	background:#333;
	margin:0px 0 0px 0;
	padding:0px 0 0px 0;
	min-height:2px;
}
.item-sketch{
	height:22px;
	margin-bottom:1px;
	list-style-type:none;
	padding:0;
}
li{
	padding:0;
}
.item-folder svg, .item-sketch svg{
	padding:2px 1px 0px 1px;
	height:16px;
}

.item-folder > .item-sketch{
	margin-left:15px;
	display:none;
}
.item-folder > .item-sketch .menu-sketch{
}

.item-folder > .item-folder{
	margin-left:15px;
	display:none;
}
.expand > .item-sketch{
	display:block;
}
.item-folder .collapse{
	display:none;
}
.foldertitle:hover .nav-settings, .item-sketch:hover .nav-settings{
	display:block;
}
.toggle{
	position:relative;
	z-index:999;
	cursor:pointer;
	float:left;
}
.menu-sketch-nav svg{
	padding:4px 1px 0 1px;
	width:24px;
}
.selsetting{
	background:#444;
}
.foldertitle:hover > .menu-sketch-nav {
	display: inline-block;
}
.item-sketch:hover > .menu-sketch-nav {
	display: inline-block;
}
.menu-sketch-nav{
	float:right;
	display:none;
	color:#ddd;
}
.sortable-drag{
	background:#003300;
	border:1px solid green;
}
.sortable-ghost{
	background:#003300;
	border:1px solid green;
	opacity: .5;
}
.sortable-placeholder{
	width:100%;
	height:1px;
	list-style-type:none;
	background:none;
}
.buffer{
	height:20px;
}

#menu-cocode-sketches-holder{
	height:20vh;
	max-height:20vh;
}
#menu-cocode{
}
.cocoding-inactive:hover{
	background:#008800;
}
.cocoding-active{
	background:#008800;
}
.cocoding-active:hover{
	background:#880000;
}

/* custom scrollbar for sketches */
/* width */
#importdump::-webkit-scrollbar, .menu-sketches-holder::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#importdump::-webkit-scrollbar-track, .menu-sketches-holder::-webkit-scrollbar-track {
  background: #444; 
}

/* Handle */
#importdump::-webkit-scrollbar-thumb, .menu-sketches-holder::-webkit-scrollbar-thumb {
  background: #aaa; 
}

/* Handle on hover */
#importdump::-webkit-scrollbar-thumb:hover, .menu-sketches-holder::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

/* IMPORT */
#importdump{
	max-height:300px;
	overflow:auto;
	overflow-wrap:normal;
	hyphens:none;
	font-size:10pt;
	line-height:1.6em;
	margin-top:25px;
}
#importdump-holder{
	height:300px;
}
#importdump svg{
	height:12px;
}
.importdump-dup{
	background:#cc0000;
	opacity:.75;
}

/* REFERENCES */
#refholder{
	position:fixed;
	z-index:9999;
	right:0;
	background:#000;
	color:#fff;
	overflow:auto;
	width:250px;
	height:100vh;
	font-size:8pt;
	float:right;
	display:none;
}
#ref{
	padding:5px;
	padding-left:15px;
}
#ref a{
	cursor:pointer;
}
#ref-close{
	position:fixed;
	top:0px;
	right:0px;
	font-size:16pt;
	cursor:pointer;
	color:#aaa;
	padding:5px;
}
#ref-close:hover{
	color:#fff;
	text-decoration: underline;
}
.ref-title{
	font-size:16pt;
}
#ref a{
	text-decoration:none;
	color:#aaa;
}
#ref a:hover{
	text-decoration:underline;
	color:#fff;
}
#showall{
	display: flex;
	font-size:10pt;
	flex-wrap: wrap;
}
.param {
	margin-top:15px;
}
.param-title{
	font-size:16pt;
	margin-left:-15px;

}
.param-name{
	border:1px solid #999;
	min-width:30px;
	text-align:center;
	padding:2px 5px 2px 5px;
	float:left;
	margin-right:10px;
}
.param-code{
	font-style:italic;
}
.module{
	width:140px;
	margin:0 15px 25px 0;
	position:relative;
	line-height:1.2em;
}
.module-name{
	font-size:12pt;
	text-decoration:underline;
	color:#fff;
	margin-bottom:5px;
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	
	
}

/* MOBILE */
@media (max-width: 767px) {
	#menu-bg{
		opacity:.9;
	}
	.menu-header{
	}
	#menu{
	}
	#menu-switch{
		top:0;
		left:-24px;
		opacity:.9;
		background:#222;
	}
}