<!DOCTYPE html>
<html>
<head>
	<title>P5LIVE – sketch</title>
	<meta charset="utf-8">
	<style type="text/css">
		body{
			margin:0;
		}
		canvas{
			width:100vw;
			height:100vh;
			margin:0;

		}
		input{
			cursor:crosshair;
		}
	</style>
	<script type="text/javascript">
		var p5p = parent.document;
		var p5console = p5p.getElementById('p5-console');
		var p5code = p5p.getElementById('p5-code');
		var p5consoleTimer, p5consoleDelay = 2000;

		// clear console if all good
		if(p5console != null){
			clearConsole();
		}
		markLine();

		// pass errors to parent
		window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
			p5console.value = errorMsg; // lineNumber +" / "+
			p5console.style.background = "#000";
			markLine(lineNumber);            
			return false;
		}

		function markLine(n){
			var myCustomData = {};
			if(n != null){
				myCustomData = { 'lineNumber': n }
			}
			var event = new CustomEvent('myEvent', { detail: myCustomData });
			window.parent.document.dispatchEvent(event);
		}

		var statusTimer; 
		function sketchStatus(){
			if(p5.instance._setupDone){
				clearTimeout(statusTimer);
				var myCustomData = {'status': true};
				var event = new CustomEvent('myEvent', { detail: myCustomData });
				window.parent.document.dispatchEvent(event);
			}else{
				statusTimer = setTimeout(function(){sketchStatus();}, 50);
			}
		}

		// pass console.log's to parent
		var console = {
			log: function(m){
				if(m != "p5.RendererGL: enabled webgl context"){
					p5console.value = m;
					p5console.style.opacity = .75;
					p5console.style.background = "#000";
					p5console.style.borderTop = "1px solid #444";
					p5console.style.pointerEvents = "all";
					p5code.style.height = "calc(100vh - 40px)"; // calc(100vh - 40px)
					window.parent.console.log(m); // also send to parent console!
					clearTimeout(p5consoleTimer);
					p5consoleTimer = setTimeout(function(){clearConsole();}, p5consoleDelay);
				}
			}       
		};

		function clearConsole(){
			p5console.value = "";
			p5console.style.background = "none";
			p5console.style.borderTop = "none";
			p5console.style.pointerEvents = "none";
			p5code.style.height = "100vh";
		}


		// iFrame got focus()?!
		document.onkeydown = function(event){
			// on CONTROL, return focus and activate CONTROL
			if(event.keyCode == 17){
				window.parent.focus();
				window.setTimeout(function(){window.parent.dispatchEvent(new KeyboardEvent('keydown',{'keyCode':17}));}, 100);
			}
		}

		// test if focus lost
		window.onfocus = function() {
		  // console.log('stole lost!');
		  loop();
		};

		// forward mouse/key events to parent
		document.addEventListener('mousemove', forwardMouse);
		document.addEventListener('mouseup', forwardMouse);
		document.addEventListener('mousedown', forwardMouse);

		function forwardMouse(event){
			window.parent.passMouseClick(event);
		}

		document.addEventListener('keydown', forwardKey);
		document.addEventListener('keyup', forwardKey);

		function forwardKey(event){
			window.parent.sendKey(event);
		}

	</script>
</head>
<body>


</body>
</html>